/* Stile base per la pagina */
.App {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Stile per la tabella */
.table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 50%;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.table th {
    background-color: #f0f0f0;
}

/* Stile per il bottone */
button {
    font-size: 1rem;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}